#addform
  position: fixed
  background-color: #fff
  width: 80%
  height: 100%
  padding: 20px
  top: 0
  right: 0      
.slide-addform-enter-active
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1)
.slide-addform-enter,
.slide-addform-leave-to
  transform: translateX(50px)
  opacity: 0 